html{
	font-size:18px;
}

body{
	line-height:1.4rem;
	font-family:Helvetica;
}

.container{
	max-width:960px;
	margin:0 auto;
}

header{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
	height:30rem;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

nav{
	background-color:cadetblue;
	color:white;
	margin-top:1rem;
	display:flex;
	align-items:center;
}

.logo{
	display:flex;
	align-items:center;
	flex-grow:1;
}

.logo img{
	height:1.5rem;
	padding:1rem 1rem 1rem 2rem;
}

nav ul{
	display:flex;
	padding-right:1rem;
}

ul li{
	padding:0 1rem;
}

header h1{
	font-size:2rem;
	line-height:1.2;
	padding:1.5rem 5rem;
	background-color:white;
}

.main-banner{
	display:flex;
	justify-content:flex-end;
	margin-top:10rem;
	margin-right:24rem;
}