html{
	font-size:18px;
}

body{
	line-height:1.4rem;
	font-family:Helvetica;
}

.container{
	max-width:960px;
	margin:0 auto;
}

header{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
	height:30rem;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	padding-top:1rem;
}

nav{
	background-color:cadetblue;
	color:white;
	display:flex;
	align-items:center;
}

.logo{
	display:flex;
	align-items:center;
	flex-grow:1;
}

.logo img{
	height:1.5rem;
	padding:1rem 1rem 1rem 2rem;
}

nav ul{
	display:flex;
	padding-right:1rem;
}

ul li{
	padding:0 1rem;
}

header h1{
	font-size:2rem;
	line-height:1.2;
	padding:1.5rem 5rem;
	background-color:white;
	margin-right:-2rem;
}

.main-banner{
	display:flex;
	justify-content:flex-end;
	margin-top:10rem;
}

.services{
	display:flex;
	justify-content:center;
}

figure{
	display:flex;
	flex-direction:column;
	align-items:center;
	height:8rem;
	width:5rem;
	padding:3rem 3rem;
	text-align:center;
	justify-content:space-between;
}

figure.exams img{
	width:3.5rem;
}

figure.fittings img{
	width:5rem;
}

figure.delivery img{
	width:5rem;
}

.information-display{
	display:flex;
	justify-content:center;
	padding-bottom:5rem;
}

.service-info{
	width:35%;
	text-align:left;
	margin-right:5%;
}

.service-info span{
	font-size:1rem;
	padding:0.5rem 1.25rem;
	background-color:cadetblue;
	color:white;
	font-weight:bold;
	width:10rem;
}

.service-info p{
	padding-top:1rem;
}

footer{
	background-color:azure;
}

.logo-footer{
	display:flex;
	align-items:center;
}

.logo-footer img{
	padding:4rem 1rem 4rem 4rem;
	height:1.5rem;
}